.queue {
  .queue__header {
    color: #fff;
    font-size: 32px;
    font-weight: normal;
    padding: 30px 0;
    display: block;
    font-family: 'Yeseva-One';
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: .5;
    font-size: 52px;
    height: 250px;
    flex-direction: column;

    span {
      display: block;
      font-size: 24px;
      // font-family: 'Geomanist';
    }
  }
}