.card {
  border: none;
  background: none;
  font-size: 12px;
  min-width: 200px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 300;
  position: relative;

  .card__song {
    margin: 5px 0;
    font-weight: 600;
    opacity: .6;
    font-size: 11px;
  }

  .card__artists {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 11px;
  }

  &--active,
  &:hover {
    .card__song {
      opacity: 1;
    }
  }

  .queue {
    all: unset;
    height: 100%;
    width: 50px;
    font-size: 14px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 0;

    &:hover {
      opacity: .5;
    }
  }
}