.album {
  padding: 0 30px;
}

.header {
  display: flex;
  text-align: center;
  margin: 100px 0 30px 0;
  // justify-content: l;
  align-items: center;
  >span {
    overflow: visible !important;
  }

  .header__img {
    border-radius: 20px;
    box-shadow: 0px 5px 10px 1px rgba(67,15,93, .3);
  }

  .header__content {
    text-align: left;
    margin: 0 0 0 20px;

    span {
      display: block;
    }
  }

  .header__artist {
    font-weight: 350;
    margin: 0 0 10px 0;
    // color: rgba(255, 255, 255, .5);
    font-size: 18px;
    opacity: .4;
    font-weight: 300;
  }

  .header__album {
    font-family: "Yeseva-One";
    font-size: 24px;
    margin: 0 0 7px 0;
  }

  img {
    width: 250px;
    height: 250px;
  }

  @media only screen and (max-width: 850px) {
    flex-direction: column;
    align-items: center;

    .header__album {
      order: 1;
    }

    .header__content {
      order: 2;
    }
  }
}

.list {
  width: 73%;
  height: 400px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
}
