.review {
  display: flex;
  align-items: center;
  // padding: 0 40px;
  margin: 0 0 0 auto;
  width: 60%;

  p {
    text-align: left;
    // width: 80%;
    font-size: 11px;
    font-weight: lighter;
    line-height: 16px;
    margin: 12px 0 0;
    font-weight: 500;
    opacity: .6;

    a {
      color: rgba($color: #484be0, $alpha: 1.0)
    }
  }

  .review__rating {
    border: 3px solid #fff;
    border-radius: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    margin: auto;
    font-size: 20px;
    margin: 0 0 0 20px;
    font-weight: 600;

    &--best {
      color: rgba($color: #dc1919, $alpha: 1.0);
      border: 3px solid rgba($color: #dc1919, $alpha: 1.0);
    }
  }

  @media only screen and (max-width: 550px) {
    flex-direction: column;

    p {
      width: 100%;
      margin: 20px 0;
    }
  }
}